[Unit]
Description=TCRM Next.js Public Website Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/tcrm-public/current
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5
Environment=NODE_ENV=production
Environment=PORT=3002

[Install]
WantedBy=multi-user.target
