<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Tcrm's IoT Box</title>

        <script src="/web/static/lib/owl/owl.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/util/index.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/dom/data.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/dom/event-handler.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/dom/manipulator.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/dom/selector-engine.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/util/config.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/util/component-functions.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/util/sanitizer.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/util/backdrop.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/util/focustrap.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/util/scrollbar.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/base-component.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/alert.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/button.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/carousel.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/collapse.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/dropdown.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/modal.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/offcanvas.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/tooltip.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/popover.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/scrollspy.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/tab.js"></script>
        <script src="/web/static/lib/bootstrap/js/src/toast.js"></script>

        <link href="/web/static/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
        <link href="/iot_drivers/static/src/app/css/homepage.css" rel="stylesheet"/>
        <link href="/web/static/src/libs/fontawesome/css/font-awesome.css" rel="stylesheet"/>

        <link rel="icon" type="image/png" href="/iot_drivers/static/img/favicon.png">
    </head>
    <body>
        <script src="/iot_drivers/static/src/app/main.js" type="module"></script>
    </body>
</html>
